@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	line-height: 2rem;
	color: #333;
}

body {
	margin: 0;
	padding: 48px 24px;
}

main,
header {
	padding-bottom: 24px;
}

a {
	color: royalblue;
}

.container {
	max-width: 720px;
	margin: auto
}


footer ul {
	padding: 0;
}

footer ul li {
	display: inline;
}