<footer class="site-footer">
  
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="bottom">
      <section>
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p>{{- site.description | escape -}}</p>        
      </section>
      <section>
        <ul class="contact-list">
          <li><a href="mailto:timjohnson.za@gmail.com">Email</a> // </li>
          <li><a href="http://twitter.com/timalanjohnson">Twitter</a> // </li>
          <li><a href="http://instagram.com/timalanjohnson">Instagram</a> // </li>
          <li><a href="http://unsplash.com/timalanjohnson">Unsplash</a> // </li>
          <li><a href="http://github.com/timalanjohnson">GitHub</a></li>
        </ul>
      </section>
    </div>

  </div>

</footer>
