@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;
	color: #333;
}

.page {
	padding: 0 5vh;
}

.title {
	margin: 5vh;
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 3px;
}

.title a {
	text-decoration: none;
	color: #333;
}

.gallery {
	overflow: visible;
	white-space: nowrap;
}

.frame {
	display: inline-block;
}

.photo {
	height: 75vh;
	padding: 0 5vh;
}