/*
 * Colours
 *
 */

$dodger-blue: #10AAFF;
$malibu: #5CC5FF;
$mustard: #ffe85c;
$wild-watermelon: #FF5C74;

$screamin-green: #5cff96;
$hot-pink: #ff5cc5;
$atomic-tangerine: #ff965c;
$aqua: #10ffdd;

/*
 * Greys
 *
 */

$white: #ffffff;
$concrete: #f2f2f2;
$grey: #7f7f7f;
$mine-shaft: #222222;
$black: #000000;
