---
layout: default
---

<article class="home">
  
	<section class="bio">
	
		<h1 class="post-title">Hello.</h1>

		<p>I'm Tim. Web developer, student, and photographer from Cape Town, South Africa. Let's create. Send me an <a href="mailto:timjohnson.za@gmail.com">email</a>. You can also find me on <a href="https://instagram.com/timalanjohnson">Instagram</a> and <a href="https://twitter.com/timalanjohnson">Twitter</a>.</p>

		<p>Below you can find some of the things I do.</p>
	
	</section>
  
	<section class="profile">
		<img src="../assets/images/me.jpg">
	</section>

	<section class="projects wrapper"> 

		<section>
			<h3><a href="https://unsplash.com/@timalanjohnson">Free Stock Images</a></h3>
			<p>A selection of photographs that I have shared on Unsplash.</p>
		</section>

		<section>
			<h3><a href="/blog/">Blog</a></h3>
			<p>Sometimes I write some words about things.</p>			
		</section>

	</section>
</article>
